body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}

.container {
    background-color: whitesmoke;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 600px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

.rowRadio {
    min-width: 33%;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="file"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    padding: 8px;
    margin-bottom: 20px;
}

input[type="submit"],
input[type="button"],
input[type="date"],
button {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

#campoBotones {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#mensaje {
    resize: none;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #0056b3;
}