/************************************** Estilos tarjetas **************************************/

body {
    background-color: rgba(200, 200, 200, 0.5);
}

/************************************** Estilos tarjetas **************************************/
#cards {
    transition: transform 0.3s, box-shadow 0.3s;
}

#cards:hover {
    transform: scale(1.1);
}

#cards img {
    border-radius: 5%;
}