/* Estilos iniciales de las tarjetas */
#cards {
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Estilos al pasar el cursor sobre las tarjetas */
#cards:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Agrega una sombra */
}