/*barra de navegacion*/
/*cabezero*/
/*contenido*/
/*pie de pagina*/
footer {
    background-color: black;
    display: flex;
    justify-content: center;
}
footer div {
    width: 40px;
    display: flex;
    justify-content: center;
}
footer img {
    width: 40px;
    margin: 5px;
    margin-right: 10px;
}

